/* FriendList styles */
.friend-list h1 {
    text-align: center;
}

.friends-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Friend styles */
.friend-card {
    width: 300px;
    padding: 20px;
    border: 12px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.pets-container {
    display: flex;
    flex-wrap: wrap;
}

/* Pet styles */
.pet-card {
    width: 150px;
    padding: 10px;
    border: 12px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}
